#appeal{
    position: relative;
    height: 100vh;
    background-color: $bg-color-dark;
    .appeal-now{
            display: flex;
            justify-content: center;
           
        }
    .appeal-now-content{
         
            .appeal-title{
                width: 280px;
                margin-top: 33px;
                text-align: center;
                margin-bottom: 50px;
                h4{
                    color: $white;
                    font-size: $font-size*2;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                }
            }
            .appeal-form{
                width: 280px;

                
                label{
                    color: $white;
                    font-size: ($font-size)-2;
                    margin-bottom: 14px;
                }
                #where{
                    width: 280px;
                    height: 49px;
                    display: block;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    color: $white;
                    padding: 13px 0px;
                    padding-left: 16px;
                }
                select{
                    -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                    appearance:none;
                    background: url("../img/down.png") $bg-color-lightless no-repeat calc(100% - 10px) !important;
                    
                }
                input{
                    height: 49px;
                    width: 280px;
                    margin-bottom: 32px;
                    display: block;
                    background-color: $bg-color-lightless;
                    border-radius: 5px;
                    padding: 14px 0px;
                    padding-left: 16px;
                    color: $white;
                    background: url("../img/cal.png") no-repeat calc(100% - 10px) !important;
                }
            }
          }  
    .appeal-title{
            width: 280px;
            margin-top: 33px;
            text-align: center;
            margin-bottom: 78px;
            h4{
                color: $white;
                font-size: $font-size*2;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
        }
    .appeal-last{
        margin-bottom: 10px;
        .card{
            background-color: $bg-color-lightless;
            color:$white;
            border: 1px solid $white;
            border-radius: 5px;
            width: 480px;
            .card-body{
                padding: 0;
               
            }
            .date-time{
                padding-left: 15px;
                padding-top: 15px;
                margin-bottom: 10px;
                span{
                    margin-right: 10px;
                    i{
                        color: $gold-color;
                    }
                }
               
            }
            .fromto{
               float: left;
                padding-left: 15px;
                width: 40%;
               margin-right: 50px;
            }
            h5{
                color: $gold-color;
                font-size: $font-size;
            }
            .goto{
                float: left;
               
            }
            .rate{
                float: right;
                text-align: center;
                padding-right: 14px;
                a{
                    text-decoration: none;
                    color: $white;
                    font-size: ($font-size)-4;
                }
                span.rate-count{
                    color: $gold-color;
                    display: block;
                    font-size: ($font-size)-4;
                }
                span.rate-star{
                    display: block;
                    color: $gold-color-1;
                }

            }
        }
    }
        
}


@media screen and (max-width: 768px) {
    .container{
        .row{
            justify-content: center;
        }
    }
    .card{
        width: 280px !important;
    }
    .goto{
        margin-left: 15px;
    }    
    #appeal{
        height: 180vh;
        .appeal-title{
            margin-top: 60px !important;
            margin-bottom: 40px !important;
        }
        #where{
            option{
                width: 240px !important;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
    }
}

@media screen and (max-width: 320px) {
   
    #appeal{
        .appeal-last {
            .card{
                width: 240px !important;
                .date-time{
                    padding-left: 35px !important;
                }
            }
        }
    }
}