.btn-green{
    background-color: $green;
    color: $white;
    height: 50px;
    width: 280px;
    border-radius: 5px;
    font-size: $font-size;
    border: none;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.btn-blue{
    background-color: $blue;
    color: $white;
    height: 50px;
    width: 280px;
    border-radius: 5px;
    font-size: $font-size;
    border: none;
    display: block;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.btn-greenLight{
    background-color: $greenLight;
    color: $white;
    height: 50px;
    width: 280px;
    border-radius: 5px;
    font-size: $font-size;
    border: none;
    display: block;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}