$bg-color-dark: #334551;
$bg-color-lightless: #485C6B;
$bg-color-light:#A5C1D6;

$green: #00AC5B;
$blue: #0077AC;
$greenLight: #9CCB3C;

$white: #ffffff;
$black: #000000;

$font-size:16px;

$gold-color: #FFFF00;
$gold-color-1: #FCD029;
